lcd-writer.flow
[{"id":"6adb0c2.effb7f4","type":"exec","z":"47169d39.2eb9f4","command":"python /usr/bin/lcd.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":659.5,"y":176.5,"wires":[[],[],[]]},{"id":"187939f4.29dad6","type":"function","z":"47169d39.2eb9f4","name":"prep payload","func":"msg.payload = '\"' + msg.line1 + '\"' + \" \" + '\"' + msg.line2 + '\"';\nreturn msg;","outputs":1,"noerr":0,"x":507.5,"y":176,"wires":[["6adb0c2.effb7f4"]]},{"id":"99328583.68f918","type":"inject","z":"47169d39.2eb9f4","name":"CLEAR","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":48,"wires":[["57651c94.155864"]]},{"id":"57651c94.155864","type":"function","z":"47169d39.2eb9f4","name":"","func":"msg.line1= '';\nmsg.line2 = '';\nreturn msg;","outputs":1,"noerr":0,"x":253.5,"y":89,"wires":[["187939f4.29dad6"]]},{"id":"8532bf5e.f90f4","type":"ui_text_input","z":"47169d39.2eb9f4","name":"","label":"Line 1","group":"13a4eff.1f4bf1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"line1","x":127.5,"y":173,"wires":[["47439a1d.e6f4b4"]]},{"id":"cd717df7.1ec97","type":"ui_text_input","z":"47169d39.2eb9f4","name":"","label":"Line 2","group":"13a4eff.1f4bf1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"line2","x":115.5,"y":207,"wires":[["47439a1d.e6f4b4"]]},{"id":"47439a1d.e6f4b4","type":"function","z":"47169d39.2eb9f4","name":"line loader","func":"\nif (msg.topic == \"line1\"){\n    flow.set('line1', msg.payload);\n}\n\nif(msg.topic == \"line2\"){\n    flow.set('line2',msg.payload);\n}\n\nif(msg.topic==\"send\"){\n    msg.line1 = flow.get('line1');\n    msg.line2 = flow.get('line2');\n   return msg; \n}\n","outputs":1,"noerr":0,"x":283,"y":213,"wires":[["187939f4.29dad6","d7ef6eeb.73e0d"]]},{"id":"2908258a.0482da","type":"ui_button","z":"47169d39.2eb9f4","name":"","group":"13a4eff.1f4bf1","order":0,"width":0,"height":0,"passthru":false,"label":"Send","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"send","x":100.5,"y":248,"wires":[["47439a1d.e6f4b4"]]},{"id":"d7ef6eeb.73e0d","type":"debug","z":"47169d39.2eb9f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":432.5,"y":301,"wires":[]},{"id":"f3ab8fcc.07392","type":"http in","z":"47169d39.2eb9f4","name":"","url":"/lcd","method":"get","upload":false,"swaggerDoc":"","x":112.5,"y":373,"wires":[["30fbbbd9.b1d634","b5d68841.e4e028"]]},{"id":"4b1772c9.fa11dc","type":"http response","z":"47169d39.2eb9f4","name":"","statusCode":"","headers":{},"x":482.5,"y":432,"wires":[]},{"id":"30fbbbd9.b1d634","type":"function","z":"47169d39.2eb9f4","name":"","func":"msg.line1 = msg.payload.line1;\nmsg.line2 = msg.payload.line2;\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":379,"wires":[["187939f4.29dad6"]]},{"id":"b5d68841.e4e028","type":"template","z":"47169d39.2eb9f4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sent","output":"str","x":242.5,"y":496,"wires":[["4b1772c9.fa11dc"]]},{"id":"13a4eff.1f4bf1","type":"ui_group","z":"","name":"LCD","tab":"519da67f.aa2dc8","disp":true,"width":"6","collapse":false},{"id":"519da67f.aa2dc8","type":"ui_tab","z":"","name":"LCD Display","icon":"dashboard"}]
